body { font-family: Arial, sans-serif; margin: 30px; background-color: #f6f6f6; }
h1, h2 { color: #2c3e50; border-bottom: 2px solid #3498db; padding-bottom: 5px;}
button { margin-top: 5px; padding: 8px 15px; cursor: pointer; background-color: #3498db; color: white; border: none; border-radius: 4px; transition: background-color 0.3s; }
button:hover { background-color: #2980b9; }
input, select { margin: 3px; padding: 8px; border: 1px solid #ccc; border-radius: 4px; }
section { background: white; padding: 20px; margin-bottom: 20px; border-radius: 8px; box-shadow: 0 4px 6px rgba(0,0,0,0.1); }
pre { background: #2c3e50; color: #ecf0f1; padding: 15px; border-radius: 5px; overflow-x: auto; white-space: pre-wrap; }
#estado-auth { padding: 10px; border-radius: 4px; margin-bottom: 15px; }
.success { background-color: #e8f9e8; color: #27ae60; border: 1px solid #27ae60; }
.error { background-color: #fcebeb; color: #c0392b; border: 1px solid #c0392b; }
#spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Blanco semitransparente */
    z-index: 9999; /* Para que esté POR ENCIMA de todo, incluido SweetAlert */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}

/* Clase para ocultarlo */
.spinner-oculto {
    opacity: 0;
    visibility: hidden;
    pointer-events: none; /* Permite hacer clic a través de él cuando está oculto */
}

/* El anillo que gira */
.spinner-ring {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3; /* Color gris suave */
    border-top: 5px solid #3498db; /* Color Azul principal (cámbialo si quieres) */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* La animación de rotación */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}